* {
  font-family: "Avenir", sans-serif;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: tomato;
  text-decoration: underline;
  transition: color 0.1s ease-in-out;
}

h1 {
  padding: 10px 0;
  color: black;
}

/* NAV */

#topNav {
  display: flex;
  margin: 5px;

}

#topNav__title {
  font-family: "Avenir", sans-serif;
  font-size: 3em;
  font-weight: bold;
  flex: 1;
}

#topNav__right {
  display: flex;
}

  .topNav__right--menu {
    position: relative;
    top: 20px;
    flex: 1;
    padding: 0 20px;
    color: black;
  }

#menu {
  position: absolute;
  top: 70px;
  left: -15px;
  width: 200px;
  list-style-type: none;
}

#menu a {
  display: block;
  padding: 10px 0 10px 0;
  color: black;
}

#menu a:hover {
  color: tomato;
  transition: .15s;
}

#menu li {
  font-size: 22px;

}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#artistsContainer {
  display: flex;
}

#cross {
  top: 8px;
  left: 10px;
  position: relative;
  opacity: 1;
  transition: .3s ease-in;
}#cross.anim {
  opacity: 0;
  transition: .3s ease-out;
}

#cross:hover {
  color:tomato;
  transition: color 0.2s ease;

}

#minus {
  position: relative;
  top: 7px;
  left: 2px;
  opacity: 0;
  transition: .3s ease-out;
}#minus.anim {
  opacity: 1;
  transition: .3s ease-in;
}

#minus:hover {
  color: tomato;
  transition: color 0.2s ease;

}


#menu__artists {
  list-style-type: none;
  padding: 0px 0 0 25px;
  font-size: 22px;
  overflow-y:scroll;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: .5s ease-in-out;
}#menu__artists.anim {
  visibility: visible;
  opacity: 1;
  height: 355px;
  transition: .5s ease-in-out;
}

#menu__artists li {
  font-size: 14px;
}

/* END NAV */


#container {
  overflow: hidden;
  margin: 15px;
}


#containerLeft {

}

/* BODY */

#containerRight {
  /* margin: 0 3% 10% 13%; */
  padding-left: 130px;

  transition: .4s ease-in-out;
}#containerRight.anim {
  /* margin: 0 3% 10% 22%; */
  padding: 0 40px 0 220px;

  transition: .4s ease;

}


.photoRow {
  display: flex;
}

  .photoRow img {
    margin:10px;
    padding:10px;
    width: 100%;
  }

.photo {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 5px;
  flex: 1;  
}

.photoCaptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.photoCaption {
  top: 0;
  bottom: 6px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 20px;
  text-align: center;
  position: absolute;
  background: rgba(81, 82, 83, 0.6);
  color: #fff;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.photo:hover .photoCaption {
  visibility: visible;
  opacity: 1;
}


.containerRight__postImage, .colorPrints, .galleryTitle {
  text-align: center;
}

#artistHeadline {
  display: none;
}

#quoteSource {
  font-weight: bold;
  font-style: italic;
  text-align: right;
  padding-top: 10px;
}

#galleryList {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

/* MODAL */

#modal {
  position: absolute;
  top: 15%;
  left: 10px;
  right: 10px;
  bottom: 15%;

}

#modal img {
  width: 95vw;
  height: auto;
  cursor: zoom-out;
}

/* END of MODAL */


/* MEDIA QUERY */
@media(max-width: 768px) {
  #topNav__title {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  #topNav {
    display: flex;
    margin: 5px;

  }

  #topNav__right {
    display: none;
  }

    .topNav__right--menu {
      position: relative;
      top: 20px;
      flex: 1;
      padding: 0 20px;
      color: black;
    }

  #containerLeft {
    display: none;
  }

  #containerRight {
    padding-left: 0px;
  }

  .photo. .photo img, .photoCaption {
    padding: 0;
  }



}
