* {
  font-family: "Avenir", sans-serif;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

h1 {
  padding: 10px 0;
  color: black;
}

#topNav {
  display: flex;
  margin: 5px;

}

#topNav__title {
  font-family: "Avenir", sans-serif;
  font-size: 3em;
  font-weight: bold;
  flex: 11;
}

#topNav__right {
  display: flex;
}

.topNav__right--menu {
  position: relative;
  top: 20px;
  flex: 1;
  padding: 0 20px;
  color: black;
}


#containerLeft {

}

#menu {
  position: absolute;
  top: 70px;
  left: -15px;
  width: 200px;
  list-style-type: none;
}

#menu a {
  display: block;
  padding: 10px 0 10px 0;
  color: black;
}

#menu a:hover {
  color: tomato;
  transition: .15s;
}

#menu li {
  font-size: 22px;

}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#artistsContainer {
  display: flex;
}

#cross {
  top: 8px;
  left: 10px;
  position: relative;
  opacity: 1;
  transition: .3s ease-in;
}#cross.anim {
  opacity: 0;
  transition: .3s ease-out;
}

#cross:hover {
  color:tomato;
  transition: color 0.2s ease;

}

#minus {
  position: relative;
  top: 7px;
  left: 2px;
  opacity: 0;
  transition: .3s ease-out;
}#minus.anim {
  opacity: 1;
  transition: .3s ease-in;
}

#minus:hover {
  color: tomato;
  transition: color 0.2s ease;

}


#menu__artists {
  list-style-type: none;
  padding: 0px 0 0 25px;
  font-size: 22px;
  overflow-y:scroll;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 1;
  height: 0;
  transition: .5s ease-in-out;
}#menu__artists.anim {
  visibility: visible;
  opacity: 1;
  height: 355px;
  transition: .5s ease-in-out;
}

#menu__artists li {
  font-size: 14px;
}

#menu__artists li a:hover {
  color: tomato;
}

#containerLeft {
  flex: 1;

}

#containerRight {
  flex: 9;
  margin: 0 5% 0 20%;
}

.photoRow {
  top: 18px;
  display: flex;
  width: 100%;
}

.photoRow img {
  margin: 0% 5% 5% 0%;
  padding: 0% 5%;
  flex: 4;
  width: 100%;
}

.photo {
  margin: 10px;
}
